::ng-deep .text-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1;
    
    & > span {
        color: transparent;
        position: absolute;
        white-space: pre;
        cursor: text;
        transform-origin: 0% 0%;
    }
}

.page-container {
    margin-top: 15px;
    margin-bottom: 15px;
    @apply relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.placeholder {
    height: 15px;
    background-color: #c9c9c9;
    margin-bottom: 10px;

    &:nth-child(3n+1) {
        width: 100%;
    }

    &:nth-child(3n+2) {
        width: 90%;
    }

    &:nth-child(3n+3) {
        width: 75%;
    }
}

.rendering-mask {
    @apply absolute inset-0 w-full h-full flex justify-center items-center;
}